.container21 {
	padding: 685px 24px 0px;
	background-image: url("../img/bg021.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container22 {
	padding: 685px 24px 0px;
	background-image: url("../img/bg022.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container23 {
	padding: 685px 24px 0px;
	background-image: url("../img/bg023.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container24 {
	padding: 685px 24px 0px;
	background-image: url("../img/bg024.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container25 {
	padding: 685px 24px 0px;
	background-image: url("../img/bg025.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container26 {
	padding: 685px 24px 0px;
	background-image: url("../img/bg026.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

